@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #000;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17%;
}

.background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}
.isClosed {
  z-index: 0;
}
.menuLink {
  text-align: center;
  border-radius: 5px;
  width: inherit;
  height: 40px;
  padding: 5px;

  flex: 1 1;
  color: white;
  font-family: "zygoregular";
  letter-spacing: 2px;
  border: 2px solid #fff;
}
.logo {
  margin-top: -10px;
  width: 60px;
  height: 60px;
}
.menuButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 11px;
  right: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
button:focus {
  outline: unset;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.lwContainer {
  width: fit-content;
}

.navbar {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
}
.menuLinkContainer {
  position: absolute;
  z-index: 1;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
}
li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.centeredLoganTitle {
  width: fit-content;
  position: fixed;
  top: 43px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.font-zygoregular {
  font-family: "zygoregular";
  letter-spacing: 2px;
}
/* Fonts */

@font-face {
  font-family: "zygoregular";
  src: url("/fonts/zygo-webfont.woff2") format("woff2"),
    url("/fonts/zygo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fitnessText {
  font-size: 92px;
  margin-bottom: 5px;
}

.inspirationalText {
  font-size: 18px;
  width: 399px;
  margin-left: auto;
}

.headerContentContainer {
  margin-top: 150px;
  position: relative;
}

.headerTextContainer {
  margin-top: -54px;
  margin-left: auto;
}

.silverTextColor {
  color: #acacac;
}

.w-fit {
  width: fit-content;
}

.headerImage {
  width: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 1140px) {
  .fitnessText {
    font-size: 75px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 960px) {
  .inspirationalText {
    width: unset;
    width: 70%;
    font-size: 14px;
    text-align: end;
    max-width: 320px;
  }

  .containerHeader {
    height: 72vh;
  }
  .fitnessText {
    font-size: 60px;
    margin-bottom: 3px;
    text-align: end;
  }
  .withLoganText {
    font-size: 2rem;
  }
  nav {
    width: 30%;
  }
  .headerImage {
    position: absolute;
    width: 100%;
    height: 72vh;
    margin-left: -20%;
    opacity: 0.75;
  }
  .headerContentContainer {
    margin-left: auto;
    margin-right: 5%;
  }
  .headerTextContainer {
    margin-top: -36px;
  }
}

.menuButton {
  top: 13px;
  right: 100px;
}

@media only screen and (max-width: 550px) {
  .initTransitionText{
    font-size:28px;
    line-height: 1.5rem;
  }
  .LWFitnessText {
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 0px;
  }
  .headerImage {
    opacity: 0.5;
  }
  .menu {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .title-font {
    margin-bottom: 0;
  }
  .menuButton {
    top: 19px;
    right: 60px;
  }
  .menuLink {
    letter-spacing: unset;
    font-size: 10px;

    height: unset;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .headerImage {
    margin-left: unset;
  }
  .fitnessText {
    font-size: 50px;
  }
  .menuButton {
    top: 19px;
    right: 50px;
  }
  .inspirationalText {
    max-width: unset;
    width: 90%;
  }
}
