@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17%;
}

.iframeVideo {
  width: 100%;
  height: 600px;
}
.videoGallery {
  width: 100%;
}
.play-button {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 60px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
.play-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.play-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 16.5px;
  left: 40px;
  margin: 0 auto;
  border-style: solid;
  border-width: 12.5px 0 12.5px 20px;
  border-color: transparent transparent transparent #fff;
}
.footerBg {
  background: black;
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 10px;
  padding-right: 10px;
}
.background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  border-left: 2px solid white;
}
.isClosed {
  z-index: 0;
}
.menuLink {
  text-align: center;
  border-radius: 5px;
  width: inherit;
  height: 40px;
  padding: 5px;

  flex: 1 1;
  color: white;
  font-family: "zygoregular";
  letter-spacing: 2px;
  border: 2px solid #fff;
}
.logo {
  margin-top: -10px;
  width: 60px;
  height: 60px;
}
.menuButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 11px;
  right: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
button:focus {
  outline: unset;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.lwContainer {
  width: fit-content;
}

.navbar {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  transition: 0.3s all;
}

.scrolledNavbar {
  background: black;
}
.menuLinkContainer {
  position: absolute;
  z-index: 1;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
}
li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.centeredLoganTitle {
  width: fit-content;
  position: fixed;
  top: 43px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rightArrowIcon {
  padding: 5px;
}
.crescentMoonContainer {
  box-shadow: 5px 0px 3px 2px white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 5px;
  margin-left: 10px;
  transition: 0.5s all;
}

.crescentMoonContainer:hover {
  box-shadow: 5px 0px 11px 2px white;
}
.rightArrowContainer {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: end;
  margin-top: 30px;
  margin-right: 20px;
}

.font-zygoregular {
  font-family: "zygoregular";
  letter-spacing: 2px;
}
/* Fonts */

@font-face {
  font-family: "zygoregular";
  src: url("/fonts/zygo-webfont.woff2") format("woff2"),
    url("/fonts/zygo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fitnessText {
  font-size: 92px;
  margin-bottom: 5px;
}

.inspirationalText {
  font-size: 18px;
  width: 399px;
  text-align: end;
  margin-left: auto;
}

.headerContentContainer {
  margin-top: 150px;
  position: relative;
}

.headerTextContainer {
  margin-top: -54px;
}

.silverTextColor {
  color: #acacac;
}

.w-fit {
  width: fit-content;
}

.headerImage {
  width: 50%;
  object-fit: cover;
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  z-index: 2;
}

.openMenu {
  z-index: 1;
}

.parallaxDiv {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}
.solutionDiv {
  padding: 280px 10% 0px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  margin: 0 auto;
}
.solutionTitle {
  font-size: 60px;
  font-family: "zygoregular";
  margin-bottom: 80px;
  color: white;
}
.solutionText {
  font-size: 18px;
  max-width: 1200px;
  font-family: sans-serif;
  color: white;
  text-align: initial;
}

.missionContainer {
  padding: 0px 10% 0px 10% !important;
}
.missionText {
  max-width: 750px;
}

.missionIcon {
  filter: invert(1);
  width: 64px;
  height: 64px;
  margin-left: 10px;
  margin-top: 10px;
}
.missionTitle {
  display: flex;
}
@media only screen and (max-width: 1140px) {
  .fitnessText {
    font-size: 75px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 960px) {
  .inspirationalText {
    width: unset;
    width: 70%;
    font-size: 14px;
    text-align: end;
    max-width: 320px;
  }

  .containerHeader {
    height: 72vh;
  }
  .fitnessText {
    font-size: 60px;
    margin-bottom: 3px;
    text-align: end;
  }
  .withLoganText {
    font-size: 2rem;
  }
  nav {
    width: 30%;
  }
  .headerImage {
    position: absolute;
    width: 100%;
    height: 72vh;
    margin-left: -20%;
    opacity: 0.55 !important;
    z-index: -21;
    margin-top: 25px;
  }
  .headerContentContainer {
    margin-left: auto;
    margin-right: 5%;
  }
  .headerTextContainer {
    margin-top: -36px;
  }
  .solutionTitle {
    font-size: 32px;
  }
}

.menuButton {
  top: 13px;
  right: 100px;
}

@media only screen and (max-width: 550px) {
  .initTransitionText {
    font-size: 28px;
    line-height: 1.5rem;
  }
  .LWFitnessText {
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 0px;
  }
  .headerImage {
    opacity: 0.5;
  }
  .menu {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .title-font {
    margin-bottom: 0;
  }
  .menuButton {
    top: 19px;
    right: 60px;
  }
  .menuLink {
    letter-spacing: unset;
    font-size: 10px;

    height: unset;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .headerContentContainer {
    margin-left: unset;
    margin-right: unset;
    width: 90%;
  }
  .headerTextContainer {
    margin-top: -33px;
  }
  .headerImage {
    margin-left: unset;
  }
  .fitnessText {
    font-size: 50px;
    text-align: left;
  }
  .menuButton {
    top: 19px;
    right: 55px;
  }
  .inspirationalText {
    max-width: unset;
    width: 95%;
    margin-top: 20px;
    text-align: center;
  }
  nav {
    width: 35%;
  }
}
